[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
	branch = develop
[submodule "packages/nomad-simulations"]
	path = packages/nomad-simulations
	url = https://github.com/FAIRmat-NFDI/nomad-simulations.git
	branch = develop
[submodule "packages/nomad-file-parser"]
	path = packages/nomad-file-parser
	url = https://github.com/FAIRmat-NFDI/nomad-file-parser.git
	branch = develop
[submodule "packages/nomad-simulation-parsers"]
	path = packages/nomad-simulation-parsers
	url = https://github.com/FAIRmat-NFDI/nomad-parser-plugins-simulation.git
	branch = develop
[submodule "packages/nomad-simulation-parser-test-fixtures"]
	path = packages/nomad-simulation-parser-test-fixtures
	url = https://github.com/FAIRmat-NFDI/nomad-simulation-parser-test-fixtures.git
	branch = main
[submodule "packages/nomad-results-normalizer"]
	path = packages/nomad-results-normalizer
	url = https://github.com/FAIRmat-NFDI/nomad-results-normalizer.git
	branch = main
