[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
	branch = develop
[submodule "packages/nomad-simulations"]
	path = packages/nomad-simulations
	url = https://github.com/FAIRmat-NFDI/nomad-simulations.git
	branch = develop
[submodule "packages/nomad-file-parser"]
	path = packages/nomad-file-parser
	url = https://github.com/FAIRmat-NFDI/nomad-file-parser.git
	branch = develop
[submodule "packages/nomad-simulation-parsers"]
	path = packages/nomad-simulation-parsers
	url = https://github.com/FAIRmat-NFDI/nomad-parser-plugins-simulation.git
	branch = develop
[submodule "packages/nomad-simulation-parser-test-fixtures"]
	path = packages/nomad-simulation-parser-test-fixtures
	url = https://github.com/FAIRmat-NFDI/nomad-simulation-parser-test-fixtures.git
	branch = main
[submodule "packages/nomad-results-normalizer"]
	path = packages/nomad-results-normalizer
	url = https://github.com/FAIRmat-NFDI/nomad-results-normalizer.git
	branch = main
[submodule "packages/electronic-parsers"]
	path = packages/electronic-parsers
	url = https://github.com/nomad-coe/electronic-parsers.git
	branch = develop
[submodule "packages/atomistic-parsers"]
	path = packages/atomistic-parsers
	url = https://github.com/nomad-coe/atomistic-parsers.git
	branch = develop
[submodule "packages/workflow-parsers"]
	path = packages/workflow-parsers
	url = https://github.com/nomad-coe/workflow-parsers.git
	branch = master
[submodule "packages/nomad-schema-plugin-run"]
	path = packages/nomad-schema-plugin-run
	url = https://github.com/nomad-coe/nomad-schema-plugin-run.git
	branch = develop
[submodule "packages/nomad-schema-plugin-simulation-workflow"]
	path = packages/nomad-schema-plugin-simulation-workflow
	url = https://github.com/nomad-coe/nomad-schema-plugin-simulation-workflow.git
	branch = develop
